*{
    margin: 0;
    padding: 0;
}
.container{
    background: #56F189;
    border-radius: 1.5rem;
    width: 22rem;
    height: 22rem;
    text-align: center;
    justify-content: center;
    margin: auto;
}
body{
    background-color: #E6D1E5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

input{
    border-radius: 0.5rem;
    width: 10rem;
    height: 2rem;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #E6D1E5;
    color: black;
    margin: 0.3rem;
}

form{
    padding: 20px;
    color: black;
    box-shadow: 0 2px 4px 0(0,0,0,0.4);
}

form p{
    margin-bottom: 5px;
}
.panel{
    margin-top: 20px;
    float: none;
}
.btn{
    margin: auto;
    display: block;
    background: #149018;
}

button{
    width: 10rem;
    height: 1.8rem;
    font-size: 0.9rem;
    color: whitesmoke;
    cursor: pointer;
    margin: auto;
    border-radius: 0.3rem;
}

button:hover{
    background: darkgreen;
}
